<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="lab41___WindowsForms.Properties.Settings.OCConnectionString"
            connectionString="Data Source=192.168.3.42,50500;Initial Catalog=OC;User ID=MICHALD;Password=DMICHAL"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>